.fileBrowser {
  display: grid;
  grid-template-columns: 1.5fr 3fr 2fr;
  grid-template-rows: 48px repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}

.sideMenu {
  grid-row: 1/6;
  grid-column: 1/1;
  border-right: 1px solid var(--grey-300);
  padding: calc(var(--base-grid-size) * 2) 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 1/1;
  grid-column: 2/4;
  align-items: center;
  border-bottom: 1px solid var(--grey-300);
}

.breadcrumb {
  grid-row: 1/1;
  grid-column: 1/4;
  padding: calc(var(--base-grid-size));
  align-self: center;
}

.filters {
  grid-row: 1/1;
  grid-column: 4/6;
  border-left: 1px solid var(--grey-300);
  padding: calc(var(--base-grid-size));
  align-self: center;
}

.mainSection {
  grid-row: 2/6;
  grid-column: 2/6;
  padding: calc(var(--base-grid-size) * 2);
}
